name: Run pytest

on:
  push:
    branches:
      - main
    tags:
      - "**"
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Run Python Tests
    uses: taranis-ai/github-actions/.github/workflows/python-uv.yml@master
